body {
	/*
  padding-top: 20px;
  padding-bottom: 40px;
  */
  background: url("/images/background.jpg") no-repeat scroll 50% 0pt transparent;
  color: #000000;
}

section {
  background-color: #FFF;
  padding: 20px 20px;
  margin-bottom: 20px;
}

.center {
  text-align: center;
}


.table tbody tr td.score0, .table tbody tr th.score0 {
  background-color: #FFF; 
}
.table tbody tr td.score1, .table tbody tr th.score1 {
  background-color: #CCFFCC; 
}
.table tbody tr td.score2, .table tbody tr th.score2 {
  background-color: #FFE5FF; 
}
.table tbody tr td.score3, .table tbody tr th.score3 {
  background-color: #FFFFCC; 
}

.loginHeader {
	padding: 20px;	
}

.myTipForm input {
	width: 80px;
}

.myTipForm select {
	width: 120px;
}


/*
.nav {
  margin-top: 30px;
  font-weight: bold;
  margin-left: 25px!important;
}
*/
/*

.gamesTable .table td {
	line-height: 12px;
	padding: 5px;
}

.loginHeader {
	text-align: center; 
	font-weight: bold; 
	font-size: 26px; 
	padding: 20px;	
}

.registreredMessageHeader {
	padding: 15px; 
	font-weight: bold; 
	font-size: 20px;	
}

.registreredMessage {
	padding: 15px; 
	font-size: 14px;
}

.startContent {
	text-align: center;
}
.nav {
	margin-top: 30px;
	font-weight: bold;
	margin-left: 25px!important;
}

.header .links {
	margin-bottom: 10px;
}
