body {
	/*
  padding-top: 20px;
  padding-bottom: 40px;
  */
  background: url("/images/background.jpg") no-repeat scroll 50% 0pt transparent;
  color: #000000;
}

section {
  background-color: #FFF;
  padding: 20px 20px;
  margin-bottom: 20px;
}

.center {
  text-align: center;
}

.table tbody tr td.score1, .table tbody tr th.score1 {
  background-color: #DDD; 
}
.table tbody tr td.score2, .table tbody tr th.score2 {
  background-color: #888; 
}
.table tbody tr td.score3, .table tbody tr th.score3 {
  background-color: #444; 
  color: #FFF; 
}

.table tbody tr:hover td.score1, .table tbody tr:hover th.score1 {
  background-color: #BBB; 
}
.table tbody tr:hover td.score2, .table tbody tr:hover th.score2 {
  background-color: #666; 
}
.table tbody tr:hover td.score3, .table tbody tr:hover th.score3 {
  background-color: #222;
  color: #FFF; 
}

.loginHeader {
	padding: 20px;	
}

.myTipForm input {
	width: 80px;
}

.myTipForm select {
	width: 120px;
}


/*
.nav {
  margin-top: 30px;
  font-weight: bold;
  margin-left: 25px!important;
}
*/
/*

.gamesTable .table td {
	line-height: 12px;
	padding: 5px;
}

.loginHeader {
	text-align: center; 
	font-weight: bold; 
	font-size: 26px; 
	padding: 20px;	
}

.registreredMessageHeader {
	padding: 15px; 
	font-weight: bold; 
	font-size: 20px;	
}

.registreredMessage {
	padding: 15px; 
	font-size: 14px;
}

.startContent {
	text-align: center;
}
.nav {
	margin-top: 30px;
	font-weight: bold;
	margin-left: 25px!important;
}

.header .links {
	margin-bottom: 10px;
}


/** Countdown clock css **/
/* jQuery Countdown styles 1.5.11. */
.hasCountdown {
	border: 1px solid #ccc;
	background-color: #eee;
}

.countdown_rtl {
	direction: rtl;
}
.countdown_holding span {
	background-color: #ccc;
}
.countdown_row {
	clear: both;
	width: 100%;
	padding: 0px 2px;
	text-align: center;
}
.countdown_show1 .countdown_section {
	width: 98%;
}
.countdown_show2 .countdown_section {
	width: 48%;
}
.countdown_show3 .countdown_section {
	width: 32.5%;
}
.countdown_show4 .countdown_section {
	width: 24.5%;
}
.countdown_show5 .countdown_section {
	width: 19.5%;
}
.countdown_show6 .countdown_section {
	width: 16.25%;
}
.countdown_show7 .countdown_section {
	width: 14%;
}
.countdown_section {
	display: block;
	float: left;
	font-size: 75%;
	text-align: center;
}
.countdown_amount {
	font-size: 200%;
}
.countdown_descr {
	display: block;
	width: 100%;
}
#defaultCountdown { width: 240px; height: 45px; }