
body
{
	font-family: 'Verdana', Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000;
	background: #FFF;
}
.back {
    background: url("/images/back.png") no-repeat #002211;
    background-position: top center;
    
}

.page {
	position: relative;
	width: 1000px;
	margin: 20px auto;
	background-color: white;

}

.content {
    position: absolute;
    top: 100px;
    width: 960px;
    min-height: 600px;
    background-color: white;
    padding: 20px;
    font-family: arial;
    font-size: 12px;
}

#menuLevel2 {
    position: absolute;
    top: 0px;
    left: 200px;
    font: 11px arial;
}


#menuLevel2 ul.right {
    float: right;
}

#menuLevel2 ul {
	background: #000000;
   height: 20px;
    margin: 22px 6px 0 0;
    padding: 2px 0 0;
}

#menuLevel2 ul {
    float: right;
}

#menuLevel2 ul {
    float: left;
    list-style-type: none;
}

#menuLevel2 li {
    float: left;
    list-style: none outside none;
    padding: 0 1px;
}

#menuLevel2 li, #menuLevel2 a {
    color: #FFFFFF;
}

 #menuLevel2 a {
    display: block;
    padding: 0 0 0 8px;
}

#menuLevel2 li, #menuLevel2 a {
    color: #FFFFFF;
} 

#menuLevel2 li {
    float: left;
    list-style: none outside none;
    padding: 0 1px;
}

#menuLevel2 li, #menuLevel2 a {
    color: #FFFFFF;
}

#menuLevel2 span {
    display: block;
    font-family: arial;
    font-size: 11px;
    font-weight: bold;
    line-height: 18px;
    padding: 0 6px 0 0;
}


/** Countdown clock css **/
/* jQuery Countdown styles 1.5.11. */
.hasCountdown {
	border: 1px solid #ccc;
	background-color: #eee;
}

.countdown_rtl {
	direction: rtl;
}
.countdown_holding span {
	background-color: #ccc;
}
.countdown_row {
	clear: both;
	width: 100%;
	padding: 0px 2px;
	text-align: center;
}
.countdown_show1 .countdown_section {
	width: 98%;
}
.countdown_show2 .countdown_section {
	width: 48%;
}
.countdown_show3 .countdown_section {
	width: 32.5%;
}
.countdown_show4 .countdown_section {
	width: 24.5%;
}
.countdown_show5 .countdown_section {
	width: 19.5%;
}
.countdown_show6 .countdown_section {
	width: 16.25%;
}
.countdown_show7 .countdown_section {
	width: 14%;
}
.countdown_section {
	display: block;
	float: left;
	font-size: 75%;
	text-align: center;
}
.countdown_amount {
	font-size: 200%;
}
.countdown_descr {
	display: block;
	width: 100%;
}
#defaultCountdown { width: 240px; height: 45px; }