<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>

    <!-- Le styles -->
    <link href="bootstrap.css" rel="stylesheet">

    <!-- For IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

  <body>
    <div class="container">
      <div class="row">
	<div class="span4"><a class="brand" href="#"><img src="euro2012.png" /></a></div>
	<div class="span4 offset4" style="text-align: right">
	  Thobias Bergqvist<br /><a href="">Logga ut</a><br /><br />
	  <form class="form-inline">
	    <input type="text" class="input-small" placeholder="foo@bar.com">
	    <input type="password" class="input-small" placeholder="secret">
	    <button type="submit" class="btn">Logga in</button>
	  </form>
	  <a href="">Glömt lösenordet?</a><br /><a href="">Registrera dig</a>

	</div>
      </div>

      <div>
	<ul class="nav nav-pills">
	<li class="active">
	  <a href="#">Tournaments</a>
	</li>
	<li><a href="#">Coupons</a></li>
	<li><a href="#">Games</a></li>
	<li><a href="#">Groups</a></li>
	<li><a href="#">Predictions</a></li>
	<li><a href="#">Users</a></li>
      </ul>

      </div>
      <!-- Example row of columns -->
      <section>
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce 
	  dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut 
	  fermentum massa justo sit amet risus. Etiam porta sem malesuada magna 
	  mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn" href="#">View details »</a></p>
      </section>

      <section>
        <h2>Heading</h2>
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th>head 1</th>
	      <th>head 2</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <td>value 0 a</td>
	      <td>value 0 b</td>
	    </tr>
	    <tr>
	      <td>value 1 a</td>
	      <td>value 1 b</td>
	    </tr>
	    <tr>
	      <td>value 2 a</td>
	      <td>value 2 b</td>
	    </tr>
	    <tr>
	      <td>value 3 a</td>
	      <td>value 3 b</td>
	    </tr>
	  </tbody>
	</table>
      </section>

      <section>
	<form class="form-horizontal">
          <fieldset>
	    <legend>Registrera dig</legend>
            <div class="control-group error">
              <label for="userName" class="control-label">Mail</label>
              <div class="controls">
		<input type="text" value="" id="userName" class="input" placeholder="foo@bar.com">
		<span class="help-inline">Du måste ange en riktig mail address</span>
              </div>
            </div>
            <div class="control-group">
              <label for="realName" class="control-label">Namn</label>
              <div class="controls">
		<input type="text" value="" id="realName" class="input" placeholder="Foo Bar">
              </div>
            </div>
            <div class="control-group">
              <label for="password" class="control-label">Lösenord</label>
              <div class="controls">
		<input type="text" value="" id="password" class="input" placeholder="hemlis">
              </div>
            </div>
            <div class="control-group">
              <label for="password2" class="control-label">Lösenord igen</label>
              <div class="controls">
		<input type="text" value="" id="password2" class="input" placeholder="Samma hemlis">
              </div>
            </div>
            <div class="control-group">
              <label for="group" class="control-label">Grupp</label>
              <div class="controls">
		<select id="group">
                  <option>Ateles</option>
                  <option>Sigma</option>
                  <option>Vänner</option>
		</select>
              </div>
            </div>
            <div class="form-actions">
              <button class="btn btn-primary" type="submit">Registrera</button>
            </div>
          </fieldset>
	</form>
      </section>

    </div> <!-- /container -->
  

</body></html>
