
html {
    font-size: 10px;
    height: 99%;
    padding: 0;
}


body {
	background: url("background.jpg") no-repeat scroll 50% 0pt transparent;
	color: #000000;
	font-family: Verdana;
	
    height: 100%;
    margin-left: 0;
    margin-top: 0;
    padding-top: 0;
    font-size: 11px;
    text-align: left;
}
#page {
    margin: 0 auto;
    position: relative;
    text-align: left;
    width: 950px;
}

.topDiv {
    z-index: 100;
    font-size: 11px;
}


#header #logo {
    background: url("euro2012.png") no-repeat scroll 0 0 transparent;
    height: 100px;
    width: 250px;
}
#header #logo {
    margin-top: 15px;
    padding-top: 0;
}

#logo {
    float: left;
    margin-right: 30px;
}

#login {
    color: #FFFFFF;
    float: right;
    height: 70px;
    position: relative;
    width: auto;
}


body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

#loginMenu {
    clear: both;
    float: right;
    left: 0;
    padding-left: 3px;
    position: relative;
    top: 0;
}

#loginMenu div.menuWrapper {
    background-color: #282828;
}

#loginMenu .menuWrapper {
    clear: both;
    float: left;
    padding-bottom: 1px;
}

#loginMenu ul li {
    font-size: 11px;
    padding: 0;
    float: left;
    line-height: 2;
}

#loginMenu ul li a {
    color: #fff;
    float: left;
    height: 24px;
    line-height: 2;
    padding: 0 16px;
    text-decoration: none;
}

.divMainContent {
    float: left;
    margin-left: 10px;
    overflow: hidden;
    position: relative;
    width: 950px;
}

.headerBox {
    background: none repeat scroll 0 0 #626262;
    color: #FFFFFF;
    height: 26px;   
    position:relative;
    float:none;
    margin-top:15px;
}


.headBoxText {
    color: #FFFFFF;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 6px;
}

.contentBox {
	border:solid 0px gray;
	padding-left:0px;
	margin-top:0px;
	margin-bottom:0px;	
}

.contentBoxContainer {
    background: none repeat scroll 0 0 #FFFFFF;
    border-left: 1px solid #EFEFEF;
    border-right: 1px solid #EFEFEF;
    height: 130px;
    margin-bottom: 0;
    overflow: auto;
    padding: 10px;
}

#header {
    height: 70px;
    margin: 0 0 14px;
    padding: 0 0 0 5px;
    position: relative;
    z-index: 1;
}
#login #loginForm {
    clear: both;
    float: right;
    margin: 6px 0 0;
}
